
.ticket_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    margin: 3em auto;
    font-weight: 600;
}

.ticket_list_item {
    width: 100%;
}

.ticket {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 1em;
    border-radius: 5px;
    box-shadow: 3px 3px 7px #dce1ea, -2px -2px 6px #dce1ea;
}

.ticket-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 1em 2em 0 1em;
}

.ticket-header-price {
    color: #218eff;
    font-size: 1.2em;
    text-align: left;
}

.ticket-header-carrier {
    color: #686969;
    font-size: 1.2em;
    text-align: left;
    margin-left: 0.5em;
}

.ticket-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 0.5em;
}

.flight {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0.5em;
}

.flight_cell {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 3em;
    font-size: 0.9em;
}

.flight_cell:last-child {
    margin-right: 1em;
}

.flight_cell_title {
    color: #aaa;
}

.flight_cell_info {
    color: #333;
}
